<div class="swym-button-bar swym-wishlist-button-bar swym-inject flex" >
 
    <div class="swym-btn-container swym-inject" style="position: relative" data-position="default" id="swym-show">
      <div class="icon-heart-2">{% render 'icon-heart' %}</div>
      
        <button class="btn swym-button swym-add-to-wishlist swym-inject swym-iconbtnlink swym-heart swym-loaded" onclick="event.preventDefault();" aria-label="Add to Wishlist">
            <span class="swym-wishlist-cta">{% render 'icon-heart' %}</span>
        </button>        
    </div>
 </div>
