
    <a href="#swym-wishlist" class="swym-wishlist onyx-menu-item__link" style="position: relative">
      <div style="position: absolute; top: -4px; left: -36px">{% render 'icon-heart' %}</div>
    
    </a>
